body, html, #root{
    margin: 0;
    padding: 0;
    height: 100%;
}

.major-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-app-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex:2;

}