.footer-container {
    background-color: #003366; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    bottom: 0;
    width: 100%;

}

.footer-content p {
    margin: 0;
    padding: 0;
}